{% load static %}




<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
  <meta name="author" content="themefisher.com">

  <title>Doctor Talk</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static '/images/favicon.ico' %}" />

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="{% static 'plugins/icofont/icofont.min.css' %}">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick/slick-theme.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <style>
	.b-agent-demo.b-agent-demo_powered_by {
		display: none !important;

	}

	.chatbot{
		opacity: 0.95;
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: 2;
	}
  </style>

</head>